<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue2</title>
    <script src="../js/vue.js"></script>
    <link rel="stylesheet" href=""> <!--linked css-->
    <style></style>  <!--embedded css-->
</head>
<body>

    <!-- HTML DOM template -->
    <div id="app"> 
        <!-- 單選的drop dowm -->
        <!-- <select v-model="year">
            <option value="" disabled>select year</option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
            <option>2022</option>
            <option>2023</option>
            <option>2024</option>
        </select>
        <p>{{year}}</p> -->

        <!-- 複選的drop dowm -->
        <!-- <select v-model="years" multiple>
            <option value="" disabled>select year</option>
            <option value="">2018</option>
            <option value="">2019</option>
            <option value="">2020</option>
            <option value="">2021</option>
            <option value="">2022</option>
            <option value="">2023</option>
            <option value="">2024</option>
        </select>
        <p>{{year}}</p> -->

        <!-- ================================================ -->

        <select v-model="selectedYear">
            <option v-for="year in years">{{year}}</option>
        </select>

        <select v-model="selectedMonth">
            <!-- <option v-for="month in months">{{month}}</option> -->
            <option v-for="month in 12">{{month}}</option>
        </select>

        <select v-model="selectedDay">
            <option v-for="day in 31">{{day}}</option>
        </select>

        <h3>今天是西元 {{selectedYear}} 年 {{selectedMonth}} 月 {{selectedDay}} 日</h3>

    </div>


    <script>
        new Vue({
            el: '#app',
            data: {         //變數放這裡
                // year : '',
                // years: [],
                years: [2018, 2019, 2020, 2021, 2022, 2023, 2024],
            },
            methods:{  //函數 "大部分" 放這裡
                
            },
            computed: {  // 函數也可以放這裡但是放在這裡的函數 "不能傳參數，一定要有傳回值(return)"
                selectedYear(){
                    return new Date().getFullYear()
                },
                selectedMonth(){
                    return new Date().getMonth() + 1
                },
                selectedDay(){
                    return new Date().getDate()
                },
            },
        })
    </script>
</body>
</html>